:root {
  --modal-duration: 1s;
  --modal-color: #428bca;
}



input[type=text]:not(.browser-default){
  border-radius:3px;
  background-color: transparent;
    border-top-width: initial;
    border-right-width: initial;
    border-left-width: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-left-color: initial;
    height: 3rem;
    width: 100%;
    font-size: 16px;
    box-shadow: none;
    box-sizing: content-box;
    inherited: no;
    border-bottom-width:1;
    border-image: initial;
    border-bottom: 1px solid rgb(158, 158, 158);
    border-radius: 0px;
    outline: none;
    margin: 0px 0px 8px;
    padding: 0px;
    transition: box-shadow 0.3s ease 0s, border 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
}


.button {
  background: #428bca;
  padding: 1em 2em;
  color: #fff;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background: #3876ac;
}

.midal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.midal-content {
  margin: 10% auto;
  width: 30%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  opacity: 0.5;
}

.midal-header h2,
.midal-footer h3 {
  margin: 0;
}

.midal-header {
  background: var(--modal-color);
  padding: 15px;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.midal-body {
  padding: 10px 20px;
  background: #fff;
}

.midal-footer {
  background: var(--modal-color);
  padding: 10px;
  color: #fff;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.clise {
  color: #ccc;
  float: right;
  font-size: 30px;
  color: #fff;
}

.clise:hover,
.clise:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
