<html>
    <head>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link rel='stylesheet' href='styles/modal.css'
        <title></title>
   <styles>
       
   </styles>
    </head>
    
    <body>
        
        
        <button id="midal-btn" class="button">Click Here</button>
      

  <div id="my-midal" class="midal">
    <div class="midal-content">
      <div class="midal-header">
        <span class="close">&times;</span>
        <h2>Modal Header</h2>
      </div>
      <div class="midal-body">
       <form action='/users/signup' method='post'>
           <input type='text' value='email'>
           <!-- Default input -->
            <label for="exampleForm2">Default input</label>
            <input type="text" id="exampleForm2" class="form-control">
           <input type='text' value='password'>
           <button>submit</button>
        </form>
      </div>
      <div class="midal-footer">
        <h3>Modal Footer</h3>
      </div>
    </div>
  </div>
    </body>
   <script src="scripts/modal.js"></script> 
</html>